@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "Tajawal";
  src: url("@/assets/fonts/Tajawal-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Tajawal";
  src: url("@/assets/fonts/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Tajawal";
  src: url("@/assets/fonts/Tajawal-Bold.ttf") format("truetype");
  font-weight: 700;
}
